{% extends 'base.html' %}

{% block content %}

    	<!-- Configurar cuenta-->
    	<div class="row mt-2 align-items-center text-center">
			<div class="col-sm-12">
				<p class = "tituloConfig">
					<b>Loguearse en Poems Online</b>
				</p>
			</div>
    	</div>

    	<!-- Contraseña Actual-->
    	<div class="row mt-2 text-center">
			<!-- Texto -->
			<div class="col-sm-4">
				<p class = "contenidoConfig float-end">
					Email
				</p>
			</div>
			<!-- Formulario -->
			<div class="col-sm-7">
				<form method="POST">
					<input class="form-control-lg text-center contenidoConfig float-start" type="text" name="email" id="texto" placeholder="Ingresar email">
				</form>
			</div>
    	</div>

		<!-- Contraseña Nueva-->
    	<div class="row mt-2 text-center">
			<!-- Texto -->
			<div class="col-sm-4">
				<p class = "contenidoConfig float-end">
					Contraseña
				</p>
			</div>
			<!-- Formulario -->
			<div class="col-sm-7">
				<form method="POST">
					<input class="form-control-lg text-center contenidoConfig float-start" type="password" name="contraseña" id="texto" placeholder="Ingresar Contraseña">
				</form>
			</div>
    	</div>

		<!-- Cambiar contraseña-->
    	<div class="row mt-4 align-items-center">
			<div class="col-sm-3"></div>
			<!-- Boton -->
			<div class="col-sm-6">
				<form method="POST">
					<button class="btn-light btn-lg" type="button" id="ChangePassword" data-bs-toggle="dropdown" aria-expanded="false">
						<font class = "contenidoConfig">Iniciar Sesión</font>
					</button>
				</form>
			</div>
			<div class="col-sm-3"></div>
    	</div>

		<!-- Volver-->
		<div class="row mt-4 align-items-center">
			<div class="col-sm-3"></div>
			<!-- Boton -->
			<div class="col-sm-6">
				<a href = "{{url_for('main.index')}}">
					<button class="btn-danger btn-lg" type="button" id="ChangePassword" aria-expanded="false">
						<font class = "contenidoConfigWhite">Cancelar</font>
					</button>
				</a>
			</div>
			<div class="col-sm-3"></div>
    	</div>
    </div>

{% endblock %}