{% extends 'base.html' %}

{% block content %}

	<form method="POST" action="{{url_for('main.login')}}">
    	<!-- Titulo Logueo -->
    	<div class="row mt-2 align-items-center text-center">
			<div class="col-sm-12">
				<p class = "tituloConfig">
					<b>Loguearse en Poems Online</b>
				</p>
			</div>
    	</div>

    	<!-- Email -->
    	<div class="row mt-2 text-center">
			<!-- Texto -->
			<div class="col-sm-4">
				<p class = "contenidoConfig float-end">
					Email
				</p>
			</div>
			<!-- Formulario -->
			<div class="col-sm-7">
				<input class="form-control-lg text-center contenidoConfig float-start" type="text" name="email" id="exampleInputEmail" placeholder="Ingresar email">
			</div>
    	</div>

		<!-- Contraseña -->
    	<div class="row mt-2 text-center">
			<!-- Texto -->
			<div class="col-sm-4">
				<p class = "contenidoConfig float-end">
					Contraseña
				</p>
			</div>
			<!-- Formulario -->
			<div class="col-sm-7">
				<input class="form-control-lg text-center contenidoConfig float-start" type="password" name="contraseña" id="exampleInputPass" placeholder="Ingresar Contraseña">
			</div>
    	</div>

		<!-- Registro -->
		<div class="row mt-2 text-center">
			<div class="row mt-2 align-items-center text-center">
				<div class="col-sm-12">
					<p class = "contenidoConfig">
						<b>Si no posees cuenta, <a href="{{url_for('main.register')}}">registrate!!</a></b>
					</p>
				</div>
			</div>
    	</div>

		<!-- Loguearse-->
    	<div class="row mt-4 align-items-center">
			<div class="col-sm-3"></div>
			<!-- Boton -->
			<div class="col-sm-6">
				<button type="submit" class="btn-light btn-lg" type="button" id="LogIn" aria-expanded="false">
					<font class = "contenidoConfig">Iniciar Sesión</font>
				</button>
			</div>
			<div class="col-sm-3"></div>
    	</div>
	</form>

	<!-- Volver-->
	<div class="row mt-4 align-items-center">
		<div class="col-sm-3"></div>
		<!-- Boton -->
		<div class="col-sm-6">
			<a href = "{{url_for('main.index')}}">
				<button class="btn-danger btn-lg" type="button" id="ChangePassword" aria-expanded="false">
					<font class = "contenidoConfigWhite">Cancelar</font>
				</button>
			</a>
		</div>
		<div class="col-sm-3"></div>
	</div>

	<div class="row mt-4 align-items-center">
		<div class="container">
			{% if error %}
				<div class="alert alert-danger">
					<strong>{{error}}</strong>
				</div>
			{% elif success %}
				<div class="alert alert-success">
					<strong>{{success}}</strong>
				</div>
			{% endif %}
		</div>
	</div>

{% endblock %}