{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{url_for('poem.view',id=poem.id)}}">
    	<!-- Titulo del poema, autor y Menu -->
    	<div class="row mt-2 align-items-center text-center">
			<!-- Titulo del poema -->
			<div class="col-sm-6">
				<p class = "tituloPoema float-start">
					{{poem.title}}
				</p>
			</div>

			<!-- Autor -->
			<div class="col-sm-4">
				<p class = "tituloPoema float-start" style="font-size: 50px;">
					Autor: {{poem.user.name}}
				</p>
			</div>

			<!-- Menu -->
			<div class="col-sm-2">
				<a href="{{url_for('main.index')}}">
					<button class="btn-danger" style="height: 90px;" type="button" id="ChangePassword" aria-expanded="false">
						<p class = "contenidoConfigWhite float-center" style="font-size: 50px;">
							<span class="flechaCancelar float-start"><-</span>Menu
						</p>
					</button>
				</a>
			</div>
    	</div>

    	<!-- Cuerpo Poema-->
    	<div class="row text-center">
			<!-- Cuerpo del Poema -->
			<div class="col-sm-8">
				<div class="container cuerpoBox cuerpoPoema text-start float-start">
					<p>
						{{poem.body}}
					</p>
					<div class="bottom-left container">
						<img class = "estrellaComentarios " src="{{url_for('static', filename='img/star.png')}}" alt="Calificación">
						<div class="centeredComments calificacionMenu"> {{poem.marksAvrg}} </div>
					</div>
				</div>
			</div>
			<!-- Comentarios -->
			<div class="col-sm-4 overflow">

				<!-- Comentario de Usuario -->
				<div class="card example-1 scrollbar-near-moon" style="height: 0px;">
					<div class="card-body">
						{% if jwt %}		
						<div class="container comentarioBox comentariosPoema text-start mt-1">

							<!-- Ingresar Comentario -->
							<textarea class="form-control-sm float-start text-start comentariosPoema mt-2" name="comentario" id="exampleFormControlTextarea1" placeholder="Ingresar Comentario"></textarea>

							<!-- Boton enviar comentario -->
							<div class="bottom-left-user-send container">
								<button type = "submit" class="btn-warning dropdown" type="button" id="dropdownMenuButton" aria-expanded="false">
									<i class="cuerpoPoema bi bi-check-lg"></i>
								</button>
							</div>

							<!-- Boton calificación -->
							<div class="bottom-left-user-mark container">
								<button class="btn-info dropdown" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									<img class = "estrellaComentarioUser" src="{{url_for('static', filename='img/star.png')}}" alt="Calificación">
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<li>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="score" id="inlineRadio1" value="1">
											<label class="form-check-label" for="inlineRadio1">1</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="score" id="inlineRadio2" value="2">
											<label class="form-check-label" for="inlineRadio2">2</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="score" id="inlineRadio3" value="3">
											<label class="form-check-label" for="inlineRadio3">3</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="score" id="inlineRadio4" value="4">
											<label class="form-check-label" for="inlineRadio4">4</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="score" id="inlineRadio5" value="5">
											<label class="form-check-label" for="inlineRadio5">5</label>
										</div>
									</li>
								</ul>
							</div>
						</div>	
						{% endif %}
						
						{% for mark in marks %}
						<!-- Comentario -->
						<div class="container comentarioBox comentariosPoema text-start mt-1">
							<p>{{mark.user.name}}: <br>{{mark.comment}}</p>
							<div class="bottom-left container">
								<img class = "estrellaComentarios " src="{{url_for('static', filename='img/star.png')}}" alt="Calificación">
								<div class="centeredComments calificacionComentarios">{{mark.score}}</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
    	</div>
    </div>
</form>

{% endblock %}
