{% extends 'base.html' %}

{% block content %}

    	<!-- Configurar cuenta-->
    	<div class="row mt-2 align-items-center text-center">
			<div class="col-sm-12">
				<p class = "tituloConfig">
					<b>Información de Usuario</b>
				</p>
			</div>
    	</div>

    	<!-- Nombre y Apellido -->
    	<div class="row mt-2 text-center">
			<!-- Texto -->
			<div class="col-sm-4">
				<p class = "contenidoConfig float-end">
					Nombre y Apellido
				</p>
			</div>
			<!-- Formulario -->
			<div class="col-sm-7">
				<form method="POST">
					<input class="form-control-lg text-center contenidoConfig float-start" type="text" value="Nombre Apellido" disabled>
				</form>
			</div>
    	</div>

		<!-- Email -->
    	<div class="row mt-2 text-center">
			<!-- Texto -->
			<div class="col-sm-4">
				<p class = "contenidoConfig float-end">
					Email
				</p>
			</div>
			<!-- Formulario -->
			<div class="col-sm-7">
				<form method="POST">
					<input class="form-control-lg text-center contenidoConfig float-start" type="text" value="email@email.com" disabled>
				</form>
			</div>
    	</div>

		<!-- Cantidad Poemas -->
    	<div class="row mt-2 text-center">
			<!-- Texto -->
			<div class="col-sm-4">
				<p class = "contenidoConfig float-end">
					Cantidad de Poemas
				</p>
			</div>
			<!-- Formulario -->
			<div class="col-sm-7">
				<form method="POST">
					<input class="form-control-lg text-center contenidoConfig float-start" type="text" value="1" disabled>
				</form>
			</div>
    	</div>

		<!-- Cantidad Calificaciones -->
    	<div class="row mt-2 text-center">
			<!-- Texto -->
			<div class="col-sm-4">
				<p class = "contenidoConfig float-end" style="font-size:45px">
					Cantidad de Calificaciones
				</p>
			</div>
			<!-- Formulario -->
			<div class="col-sm-7">
				<form method="POST">
					<input class="form-control-lg text-center contenidoConfig float-start" type="text" value="1" disabled>
				</form>
			</div>
    	</div>

		<!-- Volver-->
		<div class="row mt-4 align-items-center">
			<div class="col-sm-3"></div>
			<!-- Boton -->
			<div class="col-sm-6">
				<a href="{{url_for('main.index')}}">
					<button class="btn-danger btn-lg" type="button" id="ChangePassword" aria-expanded="false">
						<font class = "contenidoConfigWhite">Volver al Menu</font>
					</button>
				</a>
			</div>
			<div class="col-sm-3"></div>
    	</div>
    </div>

{% endblock %}
